{% extends 'base.html' %}
{% block main %}
{% for item in p%}
<div class="row">
    <div class="column">
        <img class="propimg" src=" {{url_for('get_image', filename=item.photo)}} " /> 
    </div>

    <div class="column2">
        <h2 class="title">{{item.title}} </h2>

        <div class="first">
            <p class="iprice">${{item.price}} </p>
            <p class="itype">{{item.property_type}} </p>
        </div>


        <p class = "descr"> {{item.description}}</p>
        <div class="second">
            <span class="bedrooms"><img class="icon" src="{{url_for('static', filename='bed.png')}}" />{{item.rooms}} Bedrooms</span>
            <span class="bathrooms"><img class="icon" src="{{url_for('static', filename='shower.jpg')}}" />{{item.bathrooms}} Bathrooms </span>

        </div>
        <h6> <img class="icon" src="{{url_for('static', filename='location.jpg')}}" />{{item.location}} </h6>
        <button type="button" class="btn"> Email Realtor</button>
    </div>

</div>
{% endfor%} 
{% endblock %}